html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*******/

body{
	font-family: 'Gilroy';
}

.wrapper{
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
}

.center{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}


/*Container head*/

.head-container{
	/* height: 1084px; */
	background-image: url('../images/head-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.head-container .bg-gradient{
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%), url(mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
}

.head-container header .logo{
	font-size: 28px;
	line-height: 33px;
	letter-spacing: 0.01em;
	width: 78px;
}

.head-container header .cart{
	width: 78px;
	text-align: right;
}

.head-container header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.head-container header .menu ul{
	display: flex;
	justify-content: space-between;
	width: 478px;
}

.head-container header .menu ul li a{
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	transition: 0.8s;
}

.head-container header .menu ul li a img{
	vertical-align: middle;
}

.head-container header .menu ul li a:hover{
	color: #E58411;
}


.head-container h1{
	font-size: 80px;
	line-height: 130%;
	text-align: center;
	letter-spacing: -0.01em;
	text-transform: capitalize;
	color: #ffffff;
	width: 861px;
	margin: 0 auto;
	margin-top: 86px;
	margin-bottom: 14px;
	font-weight: bold;
}

.head-container .descr{
	font-size: 24px;
	line-height: 160%;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	width: 606px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.head-container form{
	width: 344px;
	margin: 0 auto;
	position: relative;
}

.head-container form input{
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.6);
	box-sizing: border-box;
	backdrop-filter: blur(8px);
	border-radius: 42px;
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
	outline: none;
	height: 56px;
	width: 100%;
	padding-left: 20px;
}

.head-container form input::placeholder{
	color: rgba(255, 255, 255, 0.8);
}

.head-container form button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #E58411;
	border: none;
	position: absolute;
	top: 8px;
	right: 8px;
}

.head-container form button img{
	vertical-align: middle;
}

.head-container .selected img{
	margin-left: 249px;
	margin-top: 25px;
	margin-bottom: 361px;
}


/*Container Materiaals*/

.container-materials{
	max-width: 1360px;
	width: 100%;
	margin: 0 0 0 auto;
	/* border: 3px solid red; */
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 556px calc(223px + 487px);
	padding-top: 270px;
	padding-bottom: 240px;
	column-gap: 94px;
}

.container-materials .left-text .head-text{
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.175em;
	text-transform: uppercase;
	color: #E58411;
	padding-top: calc(394px - 240px);
	padding-bottom: 20px;
}

.container-materials .left-text h3{
	width: 413px;
	font-weight: bold;
	font-size: 42px;
	line-height: 49px;
	text-transform: capitalize;
	color: #1E1E1E;
	padding-bottom: 20px;
}

.container-materials .left-text .description{
	font-weight: 400;
	font-size: 18px;
	line-height: 185%;
	color: rgba(30, 30, 30, 0.8);
	padding-bottom: 24px;
}

.container-materials .left-text a{
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 185%;
	color: #E58411;
}

.container-materials .left-text a img{
	vertical-align: middle;
	margin-left: 13px;
}


.container-materials .right-gallery{
	display: grid;
	grid-template-columns: 223px calc(487px - 42px); /* 223px calc(487px - 42px) */
	grid-template-rows: 250px 317px;
	column-gap: 42px;
	row-gap: 47px;
}

.container-materials .right-gallery .gallery-item1 img,
.container-materials .right-gallery .gallery-item2 img,
.container-materials .right-gallery .gallery-item3 img{
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotateY(180deg);
	border-radius: 14px;
	position: relative;
	z-index: 1;
}

.container-materials .right-gallery .gallery-item2 img{
	object-position: right;
	
}

.container-materials .right-gallery .gallery-item2{
	position: relative;
	grid-row: 2;
	grid-column: 1;
}

.container-materials .right-gallery .gallery-item1 .blur-box,
.container-materials .right-gallery .gallery-item2 .blur-box,
.container-materials .right-gallery .gallery-item3 .blur-box{
	width: 176px;
	height: 183px;
	background-image: url('../images/gallery-item1.jpeg');
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	border-radius: 29px;
	filter: blur(50px);
	position: absolute;
	bottom: -21px;
	left: calc(50% - 88px);
	z-index: 0;
}

.container-materials .right-gallery .gallery-item2 .blur-box{
	background-image: url('../images/gallery-item2.jpeg');
	height: 301px;
}

.container-materials .right-gallery .gallery-item1{
	position: relative;
}

.container-materials .right-gallery .gallery-item3{
	grid-row: 1/span 2;
	grid-column: 2;
	align-self: end;
	position: relative;
}

.container-materials .right-gallery .gallery-item3 img{
	height: 445px;
	margin-bottom: 10px;
}

.container-materials .right-gallery .gallery-item3 .blur-box{
	width: calc(555px - 137px);
	height: 423px;
	background-image: url('../images/gallery-item3.jpeg');
	bottom: -30px;
	left: 27px;
}

.container-materials .right-gallery .gallery-item3 .gray-block{
	width: calc(445px - 172px);
    height: 422px;
    background: #F7F7F7;
    border-top-left-radius: 20px;
    position: absolute;
    top: -60px;
    right: 0;
}



/*Container products*/
$dark: #1E1E1E;
$gray: #F7F7F7;
$white: #ffffff;

@mixin textStyle{
	font-family: 'Inter';
	font-weight: 600;
	font-size: 21px;
	line-height: 26px;
	color: #0D1B39;
}

@mixin onlylarge($w)
{
    @media only screen and (max-width: $w)
    {
        @content;
    }
}
 
.container-product{
    background-color: $gray;
    h3{
		
        color: $dark;
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        padding-top: 50px;
        padding-bottom: 32px;
        text-align: center;
		@include onlylarge(600px){
			font-size: 32px;
    		line-height: 40px;
			width: 95%;
   			 margin: 0 auto;
		}
    }
	.sort-category{
		width: 348px;
		margin: 0 auto;
		// margin-bottom: 80px;
		display: flex;
		background-color: #EEEEEE;
		border-radius: 44px;
		height: 57px;
		justify-content: center;
		align-items: center;
		@include onlylarge(600px){
			width: 95%;
			margin: 0 auto;
		}
		li{
			width: 84px;
			height: 45px;
			font-size: 18px;
			color: rgba(30, 30, 30, 0.8);
			line-height: 185%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		li.active{
			background-color: $white;
			border-radius: 32px;
			font-weight: 500;
		}

	}
	.products-slider{
		padding-top: 130px;
		padding-bottom: 60px;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@include onlylarge(1300px){
			width: 95%;
		};
		@include onlylarge(1024px){
			flex-wrap: wrap;
			padding-bottom: 0;
		}

		
		.product-item{
			background-color: $white;
			border-radius: 20px;
			width: 268px;
			@include onlylarge(1200px){
				width: 24%;
			}
			@include onlylarge(1024px){
				width: 48%;
				margin-bottom: 70px;
			}
			
			@include onlylarge(600px){
				width: 100%;
			}
			.image{
				height: 239px;
				background-color: #FAFAFA;
				border-radius: 21px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				text-align: center;
				img{
					position: relative;
					top: -50px;
				}
			}
			.info{
				width: calc(100% - 42px);
				margin: 0 auto;
				.category{
					margin-top: 14px;
					margin-bottom: 6px;
					font-family: 'Inter';
					font-size: 17px;
					line-height: 20px;
					color: #8D8D8D;
				}
				.name{
					margin-bottom: 6px;
					text-transform: capitalize;
					@include textStyle();
				}
				.cart-info{
					margin-top: 37px;
					margin-bottom: 27px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.price{
						/* font-family: 'Inter';
						font-weight: 600;
						font-size: 21px;
						line-height: 26px;
						color: #0D1B39; */
						@include textStyle();
						span{
							font-size: 15px;
							line-height: 18px;
							vertical-align: top;
						}
					}
					.btn{
						display: inline-block;
						padding: 12px;
						border-radius: 50%;
						background-color: #0D1B39;
						cursor: pointer;
					}
				}
			}
		}
	}

	.btn-link{
		padding-bottom: 50px;
		text-align: center;
		a{
			text-decoration: none;
			font-weight: 500;
			font-size: 18px;
			line-height: 185%;
			color: #E58411;
			img{
				vertical-align: middle;
				margin-left: 12px;
			}
		}
	}
}


/*experiences*/

.experiences{
	padding-top: 240px;
	
	
	position: relative;
	display: flex;
	justify-content: right;

}



.experiences .left .bg1{
    width: 495px;
	height: 301px;
	background: #F7F7F7;
    border-radius: 20px;
	position: absolute;
	top: 378px;
	left: 168px;
}

.experiences .left .bg2{
    width: 495px;
	height: 422px;
	background: #F7F7F7;
    border-radius: 20px;
	position: absolute;
	top: 240px;
	left: -65px;
}

.experiences .left .bg3{
position: absolute;
width: 555px;
height: 423px;
left: 20px;
top: 358px;
background-image: url(../images/bluesofa.jpg);
background-repeat: no-repeat;
background-size: cover;
filter: blur(50px);
border-radius: 49px;
}

.experiences .left .sofa{
	width: 629px;
	height: 445px;
	border-radius: 20px;
	background-image: url(../images/bluesofa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 306px;
	left: -27px;
	z-index: 2;
}




.experiences .right{
	padding-top: 83px;
	position: relative;
	padding-left: 141px;
}

.experiences .right h6{
	font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #E58411;
	padding-bottom: 20px;

}

.experiences .right h3{
	font-weight: 600;
	font-size: 42px;
	line-height: 49px;
	text-transform: capitalize;
	color: #1E1E1E;
	padding-bottom: 20px;
	width: 413px;
}

.experiences .right p{
	font-size: 18px;
	line-height: 185%;
	color: #1E1E1E;
	opacity: 0.8;
	padding-bottom: 24px;
	width: 556px;

}

.experiences .right .btn{
	font-size: 14px;
    line-height: 185%;
    color: #E58411;
}

.experiences .right .btn span{
	margin-left: 13px;
}

/*footer*/


@mixin textStyle1{
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	color: rgba(30, 30, 30, 0.8)
}

@mixin textStyle2{
	font-family: 'DM Sans';
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.23px;
	color: #F6973F;
	margin-bottom: 20px;
}

footer{
	background-color: #F7F7F7;
	padding: 118px 188px 56px 188px;
	@include onlylarge(1300px){
		width: 95%;
		padding-left: 2.5%;
		padding-right: 2.5%;
		

		
	}
	@include onlylarge(768px){
		padding-top: 50px;
		

		
	}
	@include onlylarge(425px){
		padding-bottom: 10px;
		padding-top: 20px;
		

		
	}
	.footer-top{
		display: flex;
		@include onlylarge(1300px){
			justify-content: space-between;
			
	
			
		}
		@include onlylarge(768px){
			flex-wrap: wrap;
			
	
			
		}
		.logo{
			width: 293px;
			margin-right: 152px;
			@include onlylarge(1024px){
				margin-right: 10px;
				width: 240px;
				
		
				
			}
			@include onlylarge(768px){
				margin-right: 0px;
				width: 90%;
				text-align: center;
				margin: 0 auto;
				padding-bottom: 30px;
				
		
				
			}
			img{
				margin-bottom: 29px;
				vertical-align: middle;
			}
			p{
			@include textStyle1();
			}
		}
		.Services{
			margin-right: 110px;
			width: 133px;
			@include onlylarge(1024px){
				margin-right: 0;
				
				
		
				
			}
			@include onlylarge(425px){
				width: 50%;
				

				
		
				
			}

			h6{
			@include textStyle2();
			}
			li{
				margin-bottom: 16px;
				  a{
					text-decoration: none;
					@include textStyle1();
				  }
				
			}
		}
		.Furniture{
			margin-right: 110px;
			width: 133px;
			@include onlylarge(1024px){
				margin-right: 0;
				
		
				
			}
			@include onlylarge(425px){
				width: 50%;
				text-align: right;
				
		
				
			}
			h6{
			@include textStyle2();
			}
			li{
				margin-bottom: 16px;
				  a{
					text-decoration: none;
					@include textStyle1();
				  }
				}
			}
		}
		.social{
			width: 133px;
			@include onlylarge(425px){
				width: 100%;
				text-align: center
		
				
			}
			h6{
			@include textStyle2();
			}

			li{
				margin-bottom: 16px;
				a{
					text-decoration: none;
					@include textStyle1();
					 .facebook{
						 vertical-align: middle;
						 margin-right: 20px;

					 }
					 .twitter{
						vertical-align: middle;
						margin-right: 10px;

					 }
					 .instagram{
						vertical-align: middle;
						margin-right: 10px;

					 }
				    
			    }

			
		}

	
	}
	    
	.footer-bottom{
		margin-top: 118px;
		display: flex;
		justify-content: space-between;
		font-family: 'DM Sans';
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.2px;
		color: rgba(30, 40, 51, 0.5);
		@include onlylarge(768px){
			
			margin-top: 50px;
		}
		@include onlylarge(425px){
			width: 100%;
			display: grid;
			grid-template-rows: 1FR 1FR ;
			margin-top: 10px;
			
		}
		.right{
			display: flex;
			justify-content: end;
			color: rgba(30, 30, 30, 0.8);
			@include onlylarge(425px){
			    flex-wrap: wrap;
				justify-content: start;
			}
			.pp{
				margin-left: 40px;
				@include onlylarge(425px){
			        width: 100%;
					margin-left: 0px;
				}
			}
		
		
		}
	}
}




@media screen and (max-width: 1400px){
	.container-materials{
		grid-template-columns: 40% 1fr;
		max-width: 100%;
		/* width: calc(100% - 80px); */
		width: calc(100% - (100% - 1280px) / 2);
	
	}
	.container-materials .right-gallery{
		grid-template-columns: 1fr 2fr;
	}
	.container-materials .right-gallery .gallery-item3 .blur-box{
		width: calc(100% - 27px);
	}
	.container-materials .right-gallery .gallery-item3 .gray-block{
		width: 60%;
	}
}

@media screen and (max-width: 1300px){
	.center{
		width: 95%;
	}
	.head-container .selected img{
		margin-left: 0;
	}

	.experiences .right{
		
		width: 30%;
		right: 3%;
		
		
	}
	.experiences .right h3{
		width: 100%;
	}

	.experiences .right p{
		width: 100%;
	}


	.container-materials{
		width: calc(100% - 2.5%);
	}
}

@media screen and (max-width: 1024px){
	.head-container h1{
		width: 100%;
		font-size: 60px;
	}
	.head-container .selected img{
		margin-bottom: 250px;

	}

	.experiences{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 20px;
		
		
	}

	.experiences .left{
		margin: 0 auto;
		grid-row: 2;
		
	}


	.experiences .left .bg1{
		display: none;
	}
	
	.experiences .left .bg2{
		display: none;
	}

	.experiences .left .bg3 {
		display: none;
	}
	
	.experiences .left .sofa{
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.experiences .right{
		padding-top: 0;
		padding-bottom: 20px;
		width: 95%;
		left: 0;
		padding-left: 0;
		text-align: center;
		right: 0;
		margin: 0 auto;
	}

	.experiences .right h3{
		width: 100%;

	}


	.container-materials{
		grid-template-columns: 1fr;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.container-materials .left-text{
		width: 95%;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.container-materials .right-gallery{
		width: calc(100% - 2.5%);
    	margin-left: auto;
	}
	.container-materials .left-text .head-text{
		padding-top: 20px;
	}
	.container-materials .left-text h3{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.head-container header .menu{
		display: none;
	}
	.head-container h1{
		font-size: 48px;
	}
	.head-container .descr{
		width: 100%;
	}

	.experiences{
		padding-top: 20px;
			padding-bottom: 20px;
	
		}
	
		.experiences .left{
			width: 100%;
		}
	
		.experiences .left .sofa{
			width: 100%;
	
			height: 400px;
			border-radius: 0;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	
		
	
		.experiences .right h6{
			
			padding-bottom: 10px;
		}
	
		.experiences .right h3{
			font-size: 30px;
			padding-bottom: 10px;
			line-height: 30px;
		}
	
		.experiences .right p{
			line-height: 150%;
			
			padding-bottom: 10px;
		}
	
		.experiences .right .btn{
			line-height: 150%;
			
			padding-bottom: 0px;
		}
}

@media screen and (max-width: 600px){
	.container-materials .left-text h3{
		font-size: 32px;
		line-height: 40px;
	}
	.container-materials .right-gallery{
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
		grid-template-rows: 250px auto;
	}
	.container-materials .right-gallery .gallery-item2{
		grid-column: 2;
    	grid-row: 1;
	}
	.container-materials .right-gallery .gallery-item3{
		grid-row: 2;
		grid-column: 1 / span 2;
	}
	.container-materials .right-gallery .gallery-item3 .gray-block{
		display: none;
	}
	.container-materials .right-gallery .gallery-item3 img{
		height: auto;
	}
	.container-materials .right-gallery .gallery-item2 .blur-box{
		// width: 100%;
		width: 75%;
	}
}

@media screen and (max-width: 425px){
	.head-container h1{
		font-size: 32px;
		margin-top: 40px;
	}
	.head-container header{
		padding-top: 20px;
	}
	.head-container form{
		width: 100%;
	}
	.head-container .selected img{
		margin-bottom: 100px;
	}
	.experiences .left .sofa{
		

		height: 200px;
	}

	.experiences .right p{
		font-size: 15px;
	}
}